* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, hmtl{
    overflow-x: hidden;
}

@font-face {
    font-family: "Zabal";
    src: url('../Fontes/Zabal/ZabalDEMO-Medium.otf');
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FAF0E4;
    
}

nav {
    width: 100%;
    background: rgb(138, 175, 177);
    background: radial-gradient(circle, rgba(138, 175, 177, 1) 0%, rgba(90, 117, 119, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}

.break{
    height: 2vh;
}

#download a:hover {
    transform: scale(1.2);
}

a {
    display: inline-block;
}

header {
    margin: 0;
    padding: 0;
}

.banner {
    width: 100%;
    height: 98vh;

    background-image: url('../Imagens/banner-zaire.jpg');
    background-size: cover;
    background-position: center;
}   

.logo {
    display: flex;
    align-items: center;
}

#logo {
    width: 10vh;
    height: auto;
    margin-left: 1vh;
}


h1 {
    font-family: "Zabal";
    color: #FAF0E4;
    font-size: 2rem;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

a {
    text-decoration: none;
    color: #FAF0E4;
    font-family: "Open Sans";
    transition: 0.3s ease;
}

ul #download a {
    padding: 1vh 5vh 1vh 5vh;
    background-color: #faf0e400;
    border-radius: 10px;
    font-weight: 700;
    margin-right: 4vh;

    margin-right: 7vh;

    border: 1.6px solid #FAF0E4;
    color: #FAF0E4;
    transition: 0.3s ease-in-out;
}

#download a:hover {
    color: #5F7B7D;
    background-color: #FAF0E4;
    border: none;
}

section {
    display: flex;

    justify-content: space-around;
}

section h3,
h4 {
    text-align: left;
    margin-left: 20vh;
    font-family: "Poppins";
    width: 100%;
}

.caixa-de-texto-2 p {
    text-align: justify;
    margin-left: 20vh;
    font-family: "Poppins";
    width: 100%;
    
}

section h3,
h4 {
    font-weight: 700;
    font-size: 2.4rem;
}

section p {
    font-size: 1.2rem;
}

section img {
    width: 30%;
    margin-top: 5vh;
    height: 30%;
    margin-right: 15vh;

    border-radius: 50%;
}

.sobre-app #saiba-mais-botao{
    margin-top: 5vh;
}

.caixa-de-texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixa-de-texto p {
    text-align: justify;
    margin-left: 20vh;
    font-family: "Poppins";
    width: 100%;
    margin-top: 1vh;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 75%;
    border: 0;
}

.caixa-de-texto-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    text-align: left;
}

footer {
    width: 100%;
}

/* fade in eff */
.fade-item {
    opacity: 0;
    /* Invisível inicialmente */
    transform: translateY(50px);
    /* Leve deslocamento inicial para efeito de entrada */
    transition: opacity 1s ease, transform 1s ease;
    /* Transição suave */
}

.fade-item.visible {
    opacity: 1;
    /* Totalmente visível */
    transform: translateY(0);
    /* Retorna à posição original */
}


.sobre-app {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15vh
}

#saiba-mais-botao {
    font-family: "Poppins";
    padding: 1vh 5vh 1vh 5vh;
    border-radius: 5px;
    background: #FAF0E4;
    margin-top: 2vh;

    border: 2px solid #5F7B7D;
    color: #5F7B7D;
    transition: 0.3s ease-in-out;
}

#saiba-mais-botao:hover {
    background: rgb(138, 175, 177);
    background: radial-gradient(circle, rgba(138, 175, 177, 1) 0%, rgba(90, 117, 119, 1) 100%);
    justify-self: baseline;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0);
}

.sobre-app #saiba-mais-botao:hover {
    background: rgb(138, 175, 177);
    background: radial-gradient(circle, rgba(138, 175, 177, 1) 0%, rgba(90, 117, 119, 1) 100%);
    justify-self: baseline;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0);
}

footer {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

#links-uteis {
    display: flex;
    flex-direction: column;
    color: white;
    margin-right: 10vh; 
}

footer p {
    font-size: 1.2rem;
    font-weight: 200;
    font-family: "Poppins";
    margin-bottom: 3vh;
}

footer span {
    font-size: 1.7rem;
    font-family: "Poppins";
    font-weight: 300;
}

#links-uteis h5 {
    font-family: "Poppins";
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1vh;
}

footer #termos-de-privacidade {
    background-color: #11181800;
    color: white;
    border: 1px solid white;
    text-align: center;
    padding: 0.5vh 1vh 0.5vh 1vh;
    border-radius: 3px;

    transition: 0.2s ease-in-out;
}

footer #termos-de-privacidade:hover {
    background: rgb(138, 175, 177);
    background: radial-gradient(circle, rgba(138, 175, 177, 1) 0%, rgba(90, 117, 119, 1) 100%);
    justify-self: baseline;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0);
}

footer article iframe {
    border-radius: 15px;
    margin: 5vh;
    height: 40vh;

    box-shadow: rgb(19, 28, 37) 0px 20px 30px -10px;
}

.conteudo-footer {

    background: rgb(17, 26, 25);
    background: linear-gradient(0deg, rgba(17, 26, 25, 1) 0%, rgba(69, 97, 98, 1) 36%, rgba(123, 148, 137, 1) 60%, rgba(250, 240, 228, 1) 100%);
    
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}

.developers {
    width: 100%;
    color: white;
    padding: 10vh;
}

.informacoes {
    width: 100%;
    background-color: #090C0D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.developers span {
    font-size: 1.2rem;
    font-family: "open sans";
}

.developers h5 {
    font-size: 3vh;
    font-weight: 400;
    font-family: "poppins";
}


.creditos {
    width: 100%;
    color: white;
    padding: 10vh;
}

.creditos span {
    font-size: 1.2rem;
    font-family: "open sans";
}

.creditos h5 {
    font-size: 3vh;
    font-weight: 400;
    font-family: "poppins";
}

#zelmo{
    position: absolute;    
    transform: translateY(-20vh);
}

#nosso-app-a{
    position: absolute;
    background-color: #5F7B7D;
    width: 100px;
    height: 10px;
    transform: translateY(-20vh);
}